.animate__animated.animate__fadeInRight {
  animation-delay: 1s;
}
.animate__animated.animate__fadeInTop {
  animation-delay: 2s !important;
}

#ReloadBgLeft {
  width: 50%;
  height: 100%;
  position: fixed;
  left: 0;
  background-color: var(--color-1);
  z-index: 2000;
}
#ReloadBgRight {
  width: 50%;
  height: 100%;
  position: fixed;
  right: 0;
  background-color: var(--color-3);
  z-index: 2000;
}

/* Scroll */
/* Scroll */
/* Scroll */

#ScrollTopBtn {
  transition: all 1s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: -100%;
  right: 2%;
  color: var(--color-3);
  box-shadow: 0px 0px 15px var(--color-1);
  background-color: var(--color-2);
  width: 35px;
  height: 35px;
  padding: 25px;
  font-size: 25px;
  border-radius: 15px;
  z-index: 500;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: var(--color-2);
}

::-webkit-scrollbar-thumb {
  background: var(--color-1);
  border-radius: 12px;
  width: 3px;
}

/* Scroll */
/* Scroll */
/* Scroll */

/* line */
/* line */
/* line */
.line1 {
  transition: all 0.3s linear;
  position: fixed;
  left: 0;
  top: 0;
  width: 3px;
  height: 100%;
  background-color: var(--color-1);
  z-index: 12000;
  animation: line1scroll linear;
  animation-timeline: scroll();
}

@keyframes line1scroll {
  0% {
    transition: all 0.3s linear;
    height: 0%;
    background-color: var(--color-3);
  }

  10% {
    transition: all 0.3s linear;
    height: 10%;
    background-color: var(--color-1);
  }

  20% {
    transition: all 0.3s linear;
    height: 20%;
    background-color: var(--color-3);
  }

  30% {
    transition: all 0.3s linear;
    background-color: var(--color-1);
    height: 30%;
  }

  40% {
    transition: all 0.3s linear;
    background-color: var(--color-3);
    height: 40%;
  }

  50% {
    transition: all 0.3s linear;
    background-color: var(--color-1);
    height: 50%;
  }

  60% {
    transition: all 0.3s linear;
    background-color: var(--color-3);
    height: 60%;
  }

  70% {
    transition: all 0.3s linear;
    background-color: var(--color-1);
    height: 70%;
  }

  80% {
    transition: all 0.3s linear;
    background-color: var(--color-3);
    height: 80%;
  }

  90% {
    transition: all 0.3s linear;
    background-color: var(--color-1);
    height: 90%;
  }

  100% {
    transition: all 0.3s linear;
    background-color: var(--color-3);
    height: 100%;
  }
}

.line2 {
  transition: all 0.3s linear;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 3px;
  background-color: var(--color-1);
  z-index: 12000;
  animation: line2scroll linear;
  animation-timeline: scroll();
}

@keyframes line2scroll {
  0% {
    transition: all 0.3s linear;
    background-color: var(--color-1);
    width: 0%;
  }

  10% {
    transition: all 0.3s linear;
    background-color: var(--color-3);
    width: 10%;
  }

  20% {
    transition: all 0.3s linear;
    background-color: var(--color-1);
    width: 20%;
  }

  30% {
    transition: all 0.3s linear;
    background-color: var(--color-3);
    width: 30%;
  }

  40% {
    transition: all 0.3s linear;
    background-color: var(--color-1);
    width: 40%;
  }

  50% {
    transition: all 0.3s linear;
    background-color: var(--color-3);
    width: 50%;
  }

  60% {
    transition: all 0.3s linear;
    background-color: var(--color-1);
    width: 60%;
  }

  70% {
    transition: all 0.3s linear;
    background-color: var(--color-3);
    width: 70%;
  }

  80% {
    transition: all 0.3s linear;
    background-color: var(--color-1);
    width: 80%;
  }

  90% {
    transition: all 0.3s linear;
    background-color: var(--color-3);
    width: 90%;
  }

  100% {
    transition: all 0.3s linear;
    background-color: var(--color-1);
    width: 100%;
  }
}

/* line */
/* line */
/* line */

/* Mouse Cursor Name */
/* Mouse Cursor Name */
/* Mouse Cursor Name */

.mouse-cursor-name {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 900000000000000;
  width: 30px;
  height: 30px;
  padding: 30px 30px;
  background-color: var(--color-1);
  border-radius: 100%;
  top: 50%;
  left: 50%;
  font-size: 10px;
  font-family: var(--font-2);
  font-weight: 100;
  letter-spacing: 0.5px;
  color: var(--color-3);
  opacity: 0;
  scale: 0;
}
/* Mouse Cursor Name */
/* Mouse Cursor Name */
/* Mouse Cursor Name */

/* Setting */
/* Setting */
/* Setting */
.setting {
  transition: all 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  padding: 10px;
  background-color: var(--color-2);
  box-shadow: 1px 1px 10px var(--color-1);
  z-index: 100;
}

#SettingIcon {
  transition: all 0.3s ease-in-out;
  color: var(--color-3);
  font-weight: 600;
  font-size: 25px;
  text-shadow: 4px 4px 10px var(--color-1);
  animation: setting 4s linear infinite;
}

@keyframes setting {
  100% {
    transform: rotate(360deg);
  }
}

/* Setting */
/* Setting */
/* Setting */
