/* Colors */
:root {
  --color-1: #00bfff;
  --color-2: #000000;
  --color-3: #fffff0;
  --color-4: rgba(0, 0, 0, 0.1);
  --color-5: red;
  --color-6: rgba(0, 0, 0, 0.6);
  --color-7:rosybrown;
  --font-1: "Quicksand", sans-serif;
  --font-2: "Comfortaa", sans-serif;
  --font-3: "Open Sans", sans-serif;
  --font-4: "Ojuju", sans-serif;
  --font-5: "Madimi One", sans-serif;
}

/* Colors */
